.mainDisplay{
    background:#801336;
    margin: 0;
    padding: 0;
    width: 75%;
    height: 100%;
    box-sizing: border-box;
    display:flex;
    flex-wrap: wrap;
}

.nodeBox{
    box-sizing: border-box;
    width:4%;
    height:4%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
