html,body,#root{
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial;
    color: #EEEEEE;
}
.mainContainer{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    background: black;
    align-items: stretch;
}
.topBar{
    width: 100%;
    height: 5%;
    background: #263238;
    box-sizing: border-box;
    color: #ECEFF1;
    font-size: 10px;
}

.leftBar{
    width: 15%;
    height: 85%;
    padding-top: 20px;
    background: #263238;
    box-sizing: border-box;
}

.leftbarItem{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 10px;
    height: 5%;
    color: #ECEFF1;
    font-size: 12px;
}

.leftbarItem:hover{
    cursor: pointer;
    background: #37474F;
}

.midBar{
    width: 70%;
    height: 85%;
    background: #ECEFF1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
}


.rightBar{
    width: 15%;
    height: 85%;
    background: #263238;
    box-sizing: border-box;
}

.bottomBar{
    width: 100%;
    height: 10%;
    background:#263238;
    box-sizing: border-box;
}